{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кабінет продавця</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
  <header class="topbar">
    <!-- {% include 'page_of_store/nav_bar.html' %} -->
  </header>

  {% include 'page_of_store/dashboard_func/dashboard_main.html' %}

  <!-- Modal -->
  <div class="modal-overlay" id="storeModal">
  <div class="modal-window">
    <div class="modal-window__head">
      <h2>Новий магазин</h2>
      <button type="button" class="modal-close" id="closeStoreModal">&times;</button>
    </div>

    {% include 'page_of_store/dashboard_func/form_store.html' %}
  </div>
</div>

<div class="modal-overlay" id="itemsModal">
  <div class="modal-window">
    <div class="modal-window__head">
      <h2>Новий товар</h2>
      <button type="button" class="modal-close" id="closeItemsModal">&times;</button>
    </div>

    {% include 'page_of_store/dashboard_func/form_item.html' %}
  </div>
</div>

  <script>
    const storeModal = document.getElementById("storeModal");
    const openStoreModal = document.getElementById("openStoreModal");
    const closeStoreModal = document.getElementById("closeStoreModal");
    const cancelStoreModal = document.getElementById("cancelStoreModal");

    openStoreModal.addEventListener("click", () => {
      storeModal.classList.add("active");
    });

    closeStoreModal.addEventListener("click", () => {
      storeModal.classList.remove("active");
    });

    cancelStoreModal.addEventListener("click", () => {
      storeModal.classList.remove("active");
    });

    storeModal.addEventListener("click", (event) => {
      if (event.target === storeModal) {
        storeModal.classList.remove("active");
      }
    });


    const itemsModal = document.getElementById("itemsModal");
    const openItemsModal = document.getElementById("openItemsModal");
    const closeItemsModal = document.getElementById("closeItemsModal");
    const cancelItemsModal = document.getElementById("cancelItemsModal");

    openItemsModal.addEventListener("click", () => {
      itemsModal.classList.add("active");
    });

    closeItemsModal.addEventListener("click", () => {
      itemsModal.classList.remove("active");
    });

    cancelItemsModal.addEventListener("click", () => {
      itemsModal.classList.remove("active");
    });

    itemsModal.addEventListener("click", (event) => {
      if (event.target === itemsModal) {
        itemsModal.classList.remove("active");
      }
    });
  </script>
</body>
</html>