{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style_startpage.css' %}" />
  <title>
    {% block title %}MarketHub{% endblock %}
  </title>

  {% block extra_css %}
  
  {% endblock %}
</head>
<body>
  {% include 'page_of_store/nav_bar.html' %}


  {% if user.is_authenticated %}
    {% if is_seller %}
      {% include 'page_of_store/hero_seller.html' %}
    {% endif %}
    {% if is_customer %}
      {% include 'page_of_store/hero_customer.html' %}
    {% endif %}
  {% endif %}

  <main>
    {% block content %}
        {% include 'page_of_store/itemcard.html' %}
    {% endblock %}
  </main>

  {% block extra_js %}{% endblock %}

  <script>
    window.MarketHub = {
      cartDataUrl: "{% url 'cart_data' %}",
      removeUrlBase: "/cart/remove/"
    };
  </script>
  <script src="{% static 'js/script_for_startpage.js' %}"></script>

</body>
</html>






