{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style_startpage.css' %}" />
  <title>
    {% block title %}MarketHub{% endblock %}
  </title>

  {% block extra_css %}
  
  {% endblock %}
</head>
<body>
  {% include 'page_of_store/nav_bar.html' %}


  {% if user.is_authenticated %}
    {% if is_seller %}
      {% include 'page_of_store/hero_seller.html' %}
    {% endif %}
    {% if is_customer %}
      {% include 'page_of_store/hero_customer.html' %}
    {% endif %}
  {% endif %}

  <main>
    {% block content %}

     {% include 'page_of_store/itemcard.html' %}

    {% endblock %}
  </main>

  {% block extra_js %}{% endblock %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const forms = document.querySelectorAll('.add-to-cart-form');

        forms.forEach(form => {
            const button = form.querySelector('.add-to-cart');
            const productId = form.dataset.productId;
            const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;

            button.addEventListener('click', function () {
                fetch(`/cart/add/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Товар додано:', data);

                        // приклад: оновити лічильник кошика
                        const cartCounter = document.querySelector('.cart-count');
                        if (cartCounter) {
                            cartCounter.textContent = data.cart_count;
                        }
                    } else {
                        console.error(data.error);
                    }
                })
                .catch(error => {
                    console.error('Помилка:', error);
                });
            });
        });
    });
    </script>	

</body>
<link rel="script" href="{% static 'js/script_for_startpage.js' %}" />
</html>

