{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketHub | AirSound Pro</title>
    <link rel="stylesheet" href="{% static 'css/card_product.css' %}">
</head>
<body>

    <header>
        <a href="#" class="logo">
            <div class="logo-icon">M</div>
            MarketHub
        </a>
    
        <div class="nav">
            <a href="#" class="btn-login">Увійти</a>
            <a href="{% url 'store' %}" class="btn-login">Назад</a>        
        </div>
    
    </header>

    {% include 'card_of_product/_item_info_render.html' %}

</body>
</html>